/*
Source - https://stackoverflow.com/a
Posted by Mahmud Hosen, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-29, License - CC BY-SA 4.0
*/

.password-section {
   position: relative;
   display: inline-block;
}

.password-section .fa-eye {
   position: absolute;
   top: 76%;
   right: 22px; /* Adjust this value to control the icon's position */
   transform: translateY(-50%);
   cursor: pointer;
}
.password-section .fa-eye-slash {
   position: absolute;
   top: 76%;
   right: 22px; /* Adjust this value to control the icon's position */
   transform: translateY(-50%);
   cursor: pointer;
}